NIXPACKS_NODE_VERSION=22
BACKEND_PORT=4000
PORT=3670
EMAIL_USER_1=developer@unerg.edu.ve
EMAIL_PASSWORD_1=fgcqzjqgslnfdyij
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
CORS_URL=https://optometria.nimbux.cloud
DATABASE_URL=postgres://postgres:YcHesWIz8eP6wi23Q29ixfErXpHt3m74seG78cOPmoExlceEPvv1lrP9fcRA51dm@72.62.14.203:8975/demo
SECRETCAPCHAT=6LchANgsAAAAAE_uf6_FsOPNIdL0fgJgPbL08YeD
SECRETCAPCHATPUBLIC=6LchANgsAAAAAARpGsiaoQccnqkuRJ2KHvP_aZIF
JWTTIEMPO=100h
JWTSECRETO=mysecretkey
CLOUDINARY_CLOUD_NAME=dn5dhesk4
CLOUDINARY_API_KEY=334547474849822
CLOUDINARY_API_SECRET=mq2alLpBMxMOieOtT4vZMCxYXYM
