.clean.containerAll {
    display: grid;
    min-height: 100vh;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;


    background-color: #f5e6ed;
    background-color: #f6f9ff;
    background-image: url(/bg-system-.webp);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-attachment: fixed;

    >main {
        // justify-content: center;
        // align-items: center;
        // display: flex;
    }


    >header {
        background-color: #fff;
        // border-bottom: 1px solid #3d65fd;
        color: #fff;
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    // >main {
    //     background-color: #f5e6ed;
    // }

    >footer {
        background-color: #fff;
        // border-top: 1px solid #3d65fd;
        color: #fff;
    }
}